@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --font-sans: var(--font-gilroy);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: hsl(var(--sidebar-ring));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar: hsl(var(--sidebar));
  --color-chart-5: hsl(var(--chart-5));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-1: hsl(var(--chart-1));
  --color-ring: hsl(var(--ring));
  --color-input: hsl(var(--input));
  --color-border: hsl(var(--border));
  --color-destructive: hsl(var(--destructive));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-accent: hsl(var(--accent));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-muted: hsl(var(--muted));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-primary: hsl(var(--primary));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-popover: hsl(var(--popover));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-card: hsl(var(--card));
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  color-scheme: light;
  --gray-95: 220 13% 4.5%;
  --gray-50: 223 5.8% 23.7%;
  --gray-25: 225 4.9% 68.2%;
  --gray-10: 225 3.8% 79.2%;
  --gray-5: 210 3.7% 89.4%;
  --blue-100: 222 100% 62.4%;
  --blue-25: 226 100% 90%;
  --blue-15: 221 100% 93.9%;
  --destructive-red: 0 65.2% 56.1%;
  --radius: 0.625rem;
  --background: var(--gray-5);
  --foreground: var(--gray-95);
  --card: var(--gray-10);
  --card-foreground: var(--gray-95);
  --popover: var(--gray-10);
  --popover-foreground: var(--gray-95);
  --primary: var(--blue-100);
  --primary-foreground: var(--blue-15);
  --secondary: var(--gray-25);
  --secondary-foreground: var(--gray-95);
  --muted: var(--gray-25);
  --muted-foreground: var(--gray-50);
  --accent: var(--blue-25);
  --accent-foreground: var(--gray-95);
  --destructive: var(--destructive-red);
  --destructive-foreground: var(--gray-5);
  --border: var(--gray-25);
  --input: var(--gray-25);
  --ring: var(--blue-100);
  --chart-1: var(--blue-100);
  --chart-2: var(--blue-25);
  --chart-3: var(--gray-50);
  --chart-4: var(--gray-25);
  --chart-5: var(--gray-95);
  --sidebar: var(--gray-10);
  --sidebar-foreground: var(--gray-95);
  --sidebar-primary: var(--blue-100);
  --sidebar-primary-foreground: var(--blue-15);
  --sidebar-accent: var(--blue-25);
  --sidebar-accent-foreground: var(--gray-95);
  --sidebar-border: var(--gray-25);
  --sidebar-ring: var(--blue-100);
}

.dark {
  color-scheme: dark;
  --background: var(--gray-95);
  --foreground: var(--gray-5);
  --card: var(--gray-50);
  --card-foreground: var(--gray-5);
  --popover: var(--gray-50);
  --popover-foreground: var(--gray-5);
  --primary: var(--blue-100);
  --primary-foreground: var(--blue-15);
  --secondary: var(--gray-25);
  --secondary-foreground: var(--gray-5);
  --muted: var(--gray-50);
  --muted-foreground: var(--gray-10);
  --accent: var(--blue-25);
  --accent-foreground: var(--gray-95);
  --destructive: var(--destructive-red);
  --destructive-foreground: var(--gray-5);
  --border: var(--gray-50);
  --input: var(--gray-50);
  --ring: var(--blue-25);
  --chart-1: var(--blue-25);
  --chart-2: var(--blue-100);
  --chart-3: var(--gray-10);
  --chart-4: var(--gray-25);
  --chart-5: var(--gray-50);
  --sidebar: var(--gray-95);
  --sidebar-foreground: var(--gray-5);
  --sidebar-primary: var(--blue-100);
  --sidebar-primary-foreground: var(--blue-15);
  --sidebar-accent: var(--gray-50);
  --sidebar-accent-foreground: var(--gray-5);
  --sidebar-border: var(--gray-50);
  --sidebar-ring: var(--blue-25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans), system-ui, sans-serif;
    font-weight: 400;
  }
}
